<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Only permission this app needs: talking to the Anthropic and Gmail APIs. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TravelBenefitsApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.TravelBenefits"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TravelBenefits"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          Receives the OAuth redirect from the system browser/Custom Tab once
          the user finishes signing in to Google. The scheme here MUST match
          the "reversed client ID" of the Android OAuth client you register
          in Google Cloud Console (see README.md) and the
          `appAuthRedirectScheme` Gradle property used to fill this in.
        -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${appAuthRedirectScheme}" android:path="/oauth2redirect" />
            </intent-filter>
        </activity>

    </application>

</manifest>
